
.pjSpecial {
    background-color: #fff;
    line-height: 1;
    position: relative;
    padding: 0!important;
    .pjSpecialTitle {
        padding: 30px 0;
        display: flex;
        flex-direction: column;

        h2{
            margin: auto;
            font-size: 30px;
        }
        .newsLine {
            width: 80px;
            height: 3px;
            background-color: rgb(45, 179, 75);
            margin: 12px auto
        }
    }

    .pjSpecialRow {
        display: flex!important;
        flex-wrap: wrap;
        flex-direction: row;
    
        .pjSpecialItem {
            padding: 0 1px;
    
            .pjSpecialImg {
                width: 100%;
                overflow: hidden;
                position: relative;
                cursor: pointer;
    
                img{
                    width: 100%;
    
                    &:hover {
                        opacity: 0.8;
                    }
                }
    
                h3{
                    position: absolute;
                    top: 140px;
                    left: 20px;
                    font-size: 16px;
                    color: #fff;
                    transition: all 0.3s ease-in-out;
                }
                @media (min-width: 768px) and (max-width: 990px) {
   
                    h3{
                        top: 80px;
                        left: 12px;
                        font-size: 13px;
                    }
                    
                    
                }
                @media (min-width: 481px) and (max-width: 767px) {
   
                    h3{
                        top: 70px;
                        left: 12px;
                        font-size: 13px;
                    }
                    
                    
                }
                @media (max-width: 480px) {
    
                    h3{
                        top: 80px;
                        left: 12px;
                        font-size: 11px;
                    }
                    
                }
    
            }
        }
    }

    .bgCoverFisrt {
        width: 100px;
        position: absolute;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        z-index:20;
        top: 0;
        left: 0;
        height: 100%;
        

    }
    .bgCoverLast {
        width: 100px;
        position: absolute;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        z-index:20;
        top: 0;
        right: 0;
        height: 100%;
    }
    @media (min-width: 481px) and (max-width: 767px) {
   
        .bgCoverFisrt {
            width: 40px;
        }
        .bgCoverLast {
            width: 40px;
        }
        
        
    }
    @media (max-width: 480px) {

        .bgCoverFisrt {
            width: 40px;
        }
        .bgCoverLast {
            width: 40px;
        }
        
        
    }
}











/* ---------------------------------- */












.pjSpecialImg:hover.pjSpecialImg h3{
    color: rgb(45, 179, 75);
    transform: translateX(20px);
}

@media (min-width: 1024px) {
    
}

@media (min-width: 740px) and (max-width: 1023px) {
   
    .pjSpecialRowItem {
        opacity: 1;
        
    }
    
    
}
@media (max-width: 740px) {
    
    .pjSpecialRowItem {
        opacity: 1;
    }
    
}




